@font-face {
  font-family: "pill-gothic";
  src: url("../Fonts/Pill Gothic 300mg Bold.ttf") format("truetype");
}

.fontclass {
  font-family: "pill-gothic";
}
.mainCrousal {
  text-align: center;
  align-content: center;
  align-items: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 30px;
  height: 75vh;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 20px;
}
.slide {
  background-color: #6b8d73 !important;
}

.page1 {
  background-image: url("C:/Users/hasee/Desktop/reactstorybook/src/images/bad7b35df067bac718255a3b78727c5fa977225c.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.storybook-button6_crousal {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  /* font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  background-color: #ef8e48;
}
