@font-face {
  font-family: "pill-gothic";
  src: url("../Fonts/Pill Gothic 300mg Bold.ttf") format("truetype");
}

.pageSize5 {
  /* min-height: 80vh; */
  background-color: #5a7d62;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "pill-gothic";
  color: white;
}

.main5 {
  align-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: -8px;
  color: white;
}

.imageDiv5 {
  min-height: 50vh;
  color: white;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-family: "pill-gothic";
  margin-bottom: 60px;
  /* padding: 40px; */
}

.pageSize5Div2 {
  background-color: #6b8d73;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "pill-gothic";
}

.imageDiv2_5 {
  /* margin-top: 60px;
  margin-bottom: 60px; */
  background-image: url("C:/Users/hasee/Desktop/reactstorybook/src/images/c5984bc07b9264ee5565163d69da584896232dca.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  min-height: 30vh;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 60px;
  /* margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 30px;
    background-color: #5a7d62;
    color: white; */
}

.pageSize5Div3 {
  background-color: #5a7d62;
  border-radius: 30px;
  min-height: 30vh;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 60px;
  /* margin-top: 60px;
      margin-bottom: 60px;
      border-radius: 30px;
      background-color: #5a7d62;
      color: white; */
}
