@font-face {
  font-family: "pill-gothic";
  src: url("../Fonts/Pill Gothic 300mg Bold.ttf") format("truetype");
}

.fontclass {
  font-family: "pill-gothic";
}
.main6 {
  text-align: center;
  align-items: center;
  background-color: black;
}
.innerdiv6 {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.innerdiv6_2 {
  background-color: white;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
}

.storybook-button6 {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  background-color: #ef8e48;
}

.pageSizeDiv2 {
  background-color: #6b8d73;
  padding-top: 60px;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
}

.imageDiv6 {
  background-image: url("C:/Users/hasee/Desktop/reactstorybook/src/images/efd31d99578da3e3d070b1038625a273fb769a0c.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  min-height: 30vh;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding-bottom: 25px;
}

.input6 {
  /* width: 70%; */
  height: 8%;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: white;
}

.divinputField {
  /* padding-bottom: 25px; */
  margin-right: 4%;
  margin-left: 4%;
  padding-right: 5px;
  padding-left: 5px;
  height: 9%;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: "#6b8d73";
}

.storybook-button6_2 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 10px;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  background-color: #ef8e48;
}

.page6div2Starting {
  margin-top: -9px;
  background-color: #6b8d73;
  border-radius: 0 0 30px 30px;
  min-height: 8vh;
}

.audioDiv {
  background-image: url("C:/Users/hasee/Desktop/reactstorybook/src/images/efd31d99578da3e3d070b1038625a273fb769a0c.png");
  /* width: 20%; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.innnerdiv6_3 {
  background-color: #6b8d73;
  padding-top: 40px;
  padding-bottom: 25px;
}

.innnerdiv6_3_1 {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.innnerdiv6_3_1_pinkBackground {
  background-color: pink;
  height: 20vh;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  border-radius: 30px;
}

.crossdiv {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 25px;
}

.downdiv {
  background-color: lightgray;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 25px;
  margin-bottom: 0;
  border-radius: 20px;
}

.rhap_time {
  color: white !important;
}
.rhap_container {
  color: white !important;
}
.svg {
  color: white !important;
}

.rhap_container svg {
  color: white !important;
}

/* .rhap_repeat-button {
  display: none !important;
} */
