@font-face {
  font-family: "Pill Gothic 300mg Bold";
  src: local("Pill Gothic 300mg Bold"),
    url("./fonts/Pill Gothic 300mg Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "pill-gothic";
  src: url("../src/Fonts/Pill Gothic 300mg Bold.ttf") format("truetype");
}
body {
  margin: 0;
  /* font-family: "pill-gothic"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "pill-gothic";
}
